<html>

	<head>
		<title>Blog App</title>
		<link rel="stylesheet" type="text/css" href="/lib/semantic.css">
		<link rel="stylesheet" type="text/css" href="/style/blogApp.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"></i>Blog Site</div>
				<a class="item" href="/">Home</a>
				<a class="item" href="/blogs/new">Create Blog</a>
			</div>
		</div>
